.re-drag-noSelect, .re-drag-noSelect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
}

.re-drag-container {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.re-drag-container::after {
    content: '';
    clear: both !important;
    display: block;
}

.re-drag-active .re-drag-area {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.re-drag-area > *, .re-drag-area img {
    pointer-events: none;
}

.re-edit-area {
    pointer-events: auto !important;
}

.re-drag-children.active {
    pointer-events: none;
}

.re-drag-children-clone {
    opacity: 1;
    z-index: 9999;
    pointer-events: none;
}

.re-drag-children-placeholder {
    pointer-events: none;
    overflow: hidden;
    position: absolute !important;
    box-sizing: border-box;
    border: 3px dashed #639BF6;
    margin: 5px;
    text-align: center;
    color: #639BF6;
    font-weight: bold;
}
